<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
            <main class='text-center'>
                    <div class="card" style="width: 18rem;">
                        <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.imageUrl %>"/>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <p class="card-text"><%= product.description %></p>
                            <p class="card-text"><%= product.price %></p>
                            <a href='/add-to-cart/<%= product.id %>' class='btn btn-success col-md-6'>Add to Cart</a>
                            <!-- <form action='/add-to-cart' class='col-md-12'>
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </form>                             -->
                        </div>
                    </div>
            </main>
<%- include('../includes/end.ejs') %>